{%  extends "./index.html" %}
{% load static %}

{% block content %}
<title>Контакты и местоположение</title>
<div class="grid__row">
            <div class="gridcol grid-feature" data-width="slim">
                <div class="gridcol__outer" style="left:0">
                    <div class="studio_information">
                        <p>
                            <h2>
                                <span><br>Личные контакты</span>
                                    <span>https://github.com/Khidora</span>
                                <span>DVKochujkova@mai.education</span>
                                <span>+7(930)788-4682</span>
                            </h2>

                        </p>
                        <p>
                            <h2>
                                <span><br>Контакты ВУЗа:</span>
                                <span>inst8@mai.education</span>
                                <span>+7(494)158-0906</span>
                            </h2>

                        </p>

                        <div class="studio_information">
                            <p>
                                <h2>
                                    <span><br>Местоположение:</span>
                                    <span>«Войковская», «Стрешнево»</span>
                                    <span>Волоколамское шоссе, д. 4.</span>
                                </h2>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="gridcol">
                <div class="gridcol__outer">
                    <div class="gridcol__inner">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.9824540767568!2d37.49690831589415!3d55.81090499497673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54837ca747699%3A0xddf76528b536d2bb!2z0JzQvtGB0LrQvtCy0YHQutC40Lkg0JDQstC40LDRhtC40L7QvdC90YvQuSDQmNC90YHRgtC40YLRg9GC!5e0!3m2!1sru!2sru!4v1606521471762!5m2!1sru!2sru" width="1000" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}